[Unit]
After=autologin@tty1.service
Description = auto gunicorn

[Service]
Type=simple
WorkingDirectory=/home/hmyrwgcp/maru_web
ExecStart=/home/hmyrwgcp/.local/bin/poetry run  .venv/bin/gunicorn  apps.app:app_for_gunicorn
Restart=always
RestartSec=3s
User=hmyrwgcp

[Install]
WantedBy=multi-user.target
